<h1 mat-dialog-title>
    <img mat-card-image src="/assets/img/logo.svg" alt="Rest-Touch Pro">
</h1>
<div mat-dialog-content align="left">
    <p>
        <strong>Sede:</strong> {{restaurante}}<br/>
        <strong>Dominio:</strong> {{dominio}}<br/>
        <strong>Versión: </strong>{{rtVersion}}<br/>
        <strong>UUID:</strong> {{sedeUuid}}
    </p>    
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="accent" (click)="cerrar()">
        <span>Cerrar</span>
    </button>
</div>