<div>
    <div *ngIf="!showCategoriasForm">
        <div align="center">
            <button mat-button type="button" color="accent" (click)="showCategoriasForm = true; resetCategoria();">
                <mat-icon class="iconFontSize">expand_more</mat-icon>&nbsp;Categorías y sub-categorías
            </button>
        </div>
    </div>
    <div *ngIf="showCategoriasForm">
        <div align="center">
            <button mat-button type="button" color="accent" (click)="showCategoriasForm = false; resetCategoria();">
                <mat-icon class="iconFontSize">expand_less</mat-icon>&nbsp;Categorías y sub-categorías
            </button>
        </div>
    </div>
</div>
<div *ngIf="showCategoriasForm">
    <div>
        <form #frmCategoria="ngForm" novalidate>
            <mat-form-field class="fullWidth" *ngIf="!editCategoriaMode">
                <mat-label>Categoría</mat-label>
                <mat-select name="categoria" [(ngModel)]="categoria" (selectionChange)="onCategoriaSelected($event)">
                    <mat-option *ngFor="let cat of categorias" [value]="cat">
                        {{cat.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth" *ngIf="esMovil && editCategoriaMode">
                <input matInput placeholder="Descripcion de la categoría" name="descripcion"
                    [(ngModel)]="categoria.descripcion" [required]="editCategoriaMode">
            </mat-form-field>
            <mat-form-field class="fullWidth" *ngIf="!esMovil && editCategoriaMode">
                <input matInput ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric"
                    ng-virtual-keyboard-placeholder="Descripcion de la categoría"
                    placeholder="Descripcion de la categoría" name="descripcion" [(ngModel)]="categoria.descripcion"
                    [required]="editCategoriaMode">
            </mat-form-field>
        </form>
    </div>
    <div>
        <div align="end">
            <button mat-icon-button type="button" color="accent" (click)="editCategoriaMode = true;"
                *ngIf="!editCategoriaMode && +categoria.categoria > 0">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" color="accent" (click)="resetCategoria(); editCategoriaMode = true;"
                *ngIf="!editCategoriaMode">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button type="button" color="accent" (click)="onSubmitCategoria()"
                [disabled]="!frmCategoria.form.valid" *ngIf="editCategoriaMode">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button type="button" color="warn" (click)="resetCategoria()" *ngIf="editCategoriaMode">
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </div>
</div>
<div *ngIf="showCategoriasForm">
    <form #frmCategoriaGrupo="ngForm" novalidate>
        <mat-form-field class="fullWidth">
            <mat-label>Sub-categoría Padre</mat-label>
            <mat-select name="categoriaGrupoPadre" [(ngModel)]="categoriaGrupo.categoria_grupo_grupo"
                (selectionChange)="onSubCategoriaPadreSelected($event)">
                <mat-option *ngFor="let subcatpadre of categoriasGruposPadre" [value]="subcatpadre.categoria_grupo">
                    {{subcatpadre.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="fullWidth" *ngIf="!editSubCategoriaMode">
            <mat-label>Sub-categoría</mat-label>
            <mat-select name="categoriaGrupo" [(ngModel)]="categoriaGrupo"
                (selectionChange)="onSubCategoriaSelected($event)">
                <mat-option *ngFor="let subcat of categoriasGrupos" [value]="subcat">
                    {{subcat.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="fullWidth" *ngIf="esMovil && editSubCategoriaMode">
            <input matInput placeholder="Descripcion de la sub - categoría" name="descripcion"
                [(ngModel)]="categoriaGrupo.descripcion" [required]="editCategoriaMode">
        </mat-form-field>
        <mat-form-field class="fullWidth" *ngIf="!esMovil && editSubCategoriaMode">
            <input matInput ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric"
                ng-virtual-keyboard-placeholder="Descripcion de la sub - categoría"
                placeholder="Descripcion de la sub - categoría" name="descripcion"
                [(ngModel)]="categoriaGrupo.descripcion" [required]="editCategoriaMode">
        </mat-form-field>
        <mat-form-field class="fullWidth" *ngIf="editSubCategoriaMode">
            <mat-label>Impresora</mat-label>
            <mat-select name="impresora" [(ngModel)]="categoriaGrupo.impresora"im>
                <mat-option *ngFor="let imp of impresoras" [value]="imp.impresora">
                    {{imp.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox name="descuento" class="fullWidth" [(ngModel)]="+categoriaGrupo.descuento">¿Aplica Descuento?</mat-checkbox>
    </form>
    <div align="end">
        <button mat-icon-button type="button" color="accent" (click)="editSubCategoriaMode = true;"
            *ngIf="!editSubCategoriaMode && +categoriaGrupo.categoria_grupo > 0">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button type="button" color="accent"
            (click)="resetCategoriaGrupo(); editSubCategoriaMode = true;" *ngIf="!editSubCategoriaMode">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button type="button" color="accent" (click)="onSubmitSubCategoria()"
            [disabled]="!frmCategoriaGrupo.form.valid" *ngIf="editSubCategoriaMode">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button type="button" color="warn" (click)="resetCategoriaGrupo()" *ngIf="editSubCategoriaMode">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>