<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Forma de pago {{!!formaPago.forma_pago ? formaPago.descripcion : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmFormaPago="ngForm" (ngSubmit)="frmFormaPago.form.valid && onSubmit()" novalidate>
            <div class="form-group">
                <mat-form-field class="fullWidth" *ngIf="esMovil">
                    <input matInput type="text" placeholder="Descripción" name="descripcion" [(ngModel)]="formaPago.descripcion" required>
                </mat-form-field>
                <mat-form-field class="fullWidth" *ngIf="!esMovil">
                    <input matInput ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric" ng-virtual-keyboard-placeholder="Descripcion" type="text" placeholder="Descripción" name="descripcion" [(ngModel)]="formaPago.descripcion" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-checkbox name="activo" class="fullWidth" [(ngModel)]="+formaPago.activo">Activo</mat-checkbox>
            </div>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmFormaPago.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetFormaPago()" *ngIf="formaPago.forma_pago">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>