<div class="row">
    <div class="col m12 s12">
        <ng-container *ngFor="let sc of subcategorias">
            <button mat-raised-button class="btnAccion" color="primary" *ngIf="sc.mostrarEnPos" (click)="clickOnSubCategoria(sc)" [disabled]="bloqueoBotones">
                {{sc.descripcion}}
            </button>
        </ng-container>
    </div>
</div>
<hr *ngIf="articulos.length > 0" />
<div class="row">
    <div class="col m12 s12">
        <ng-container *ngFor="let art of articulos">            
            <button mat-raised-button class="btnAccion" color="warn" (click)="clickOnArticulo(art)" [disabled]="bloqueoBotones" *ngIf="+art.precio > 0">
                {{art.descripcion}}
            </button>
        </ng-container>
    </div>
</div>