<div class="row">
    <div class="col m12 s12">
        <button mat-raised-button class="btnAccion" color="primary" *ngFor="let sc of subcategorias"
            (click)="clickOnSubCategoria(sc)">
            {{sc.descripcion}}
        </button>
    </div>
</div>
<hr *ngIf="articulos.length > 0" />
<div class="row">
    <div class="col m12 s12">
        <button mat-raised-button class="btnAccion" color="warn" *ngFor="let art of articulos"
            (click)="clickOnArticulo(art)">
            {{art.descripcion}}
        </button>
    </div>
</div>