<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Empresa {{!!empresa.empresa ? empresa.nombre : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmEmpresa="ngForm" (ngSubmit)="frmEmpresa.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="empresa.nombre" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Numero de Acceso" name="acceso" [(ngModel)]="empresa.numero_acceso">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Afiliacion IVA" name="iva" [(ngModel)]="empresa.afiliacion_iva">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Codigo de Establecimiento" name="codigo_establecimiento" [(ngModel)]="empresa.codigo_establecimiento">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Correo Emisor" name="correo" [(ngModel)]="empresa.correo_emisor">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="NIT" name="nit" [(ngModel)]="empresa.nit">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Nombre Comercial" name="nombre_comercial" [(ngModel)]="empresa.nombre_comercial">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Direccion" name="direccion" [(ngModel)]="empresa.direccion">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Codigo Postal" name="codigo_postal" [(ngModel)]="empresa.codigo_postal">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Pais ISO Dos" name="pais_iso_dos" [(ngModel)]="empresa.pais_iso_dos">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Departamento" name="departamento" [(ngModel)]="empresa.departamento">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Municipio" name="municipio" [(ngModel)]="empresa.municipio">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="number" step="0.01" placeholder="Porcentaje IVA" name="porcentaje_iva" [(ngModel)]="empresa.porcentaje_iva">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Visa Merchant ID" name="visa_id" [(ngModel)]="empresa.visa_merchant_id">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Visa Transaction Key" name="visa_key" [(ngModel)]="empresa.visa_transaction_key">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Codigo" name="codigo" [(ngModel)]="empresa.codigo">
            </mat-form-field>
            <mat-checkbox name="agente_retenedor" class="fullWidth" [(ngModel)]="+empresa.agente_retenedor">Agente Retenedor</mat-checkbox>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmEmpresa.form.valid || !corporacion.corporacion">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetEmpresa()" *ngIf="empresa.empresa">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
