.spacer {
    flex: 1 1 auto;
}

.totalCuenta {
    border-top: solid 1px black;
    border-bottom: double 5px black;
}

.colHeight {
    height: 375px;
}

.saldo-pendiente {
    color: #DA332D;
    border-bottom: double 5px #DA332D;
}

.saldo-extra {
    color: skyblue;
    border-bottom: double 5px skyblue;
}

.saldo-exacto {
    color: green;
    border-bottom: double 5px green;
}

.propina {
    font-style: italic;
}

.contenido {
    max-height: 71vh !important;
    height: 100%;
    overflow-y: auto;
    padding: 0 5px;
}

::ng-deep .tool-tip {
  font-size: 15px;
  white-space: pre-wrap;
  color: gray !important;
  background-color: rgba(255, 255, 255, .99) !important;
  border: 1px solid gray;
  max-width: unset !important;
}

