<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>Bitácora</h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmEntidad="ngForm" novalidate>

            <mat-form-field class="fullWidth">
                <input type="date" matInput placeholder="Del" name="fdel" [(ngModel)]="params.fdel" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input type="date" matInput placeholder="Al" name="fal" [(ngModel)]="params.fal" required>
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <mat-label>Tabla</mat-label>
                <mat-select name="tabla" [(ngModel)]="params.tabla">
                    <mat-option *ngFor="let t of tablas" [value]="t.tabla">
                        {{t.tabla}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <mat-label>Sede</mat-label>
                <mat-select name="sede" multiple [(ngModel)]="params.sedes">
                    <mat-option *ngFor="let sede of sedesUsuario" [value]="sede.sede.sede">
                        {{sede.sede.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Usuario" name="usuario" [(ngModel)]="params.usrname" maxlength="15">
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <input matInput type="number" placeholder="Últimos registros" name="ultimos" [(ngModel)]="params.ultimos" min="1">
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Que el comentario contenga..." name="comentario" [(ngModel)]="params.comentario" maxlength="5000">
            </mat-form-field>
            
            <app-rpt-botones [configuracion]="configBotones" (excelClick) = "getReporte()" (resetParamsClick)="resetParams()"></app-rpt-botones>
        </form>
        <app-cargando *ngIf="cargando"></app-cargando>
    </mat-card-content>
</mat-card>
