<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Impresora {{!!impresora.impresora ? impresora.nombre : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmImpresora="ngForm" (ngSubmit)="frmImpresora.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="impresora.nombre" required>
                <input matInput *ngIf="esMovil" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="impresora.nombre" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Dirección IP" name="ip" [(ngModel)]="impresora.direccion_ip">
                <input matInput *ngIf="esMovil" type="text" placeholder="Dirección IP" name="ip" [(ngModel)]="impresora.direccion_ip">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Ubicación" name="ubicacion" [(ngModel)]="impresora.ubicacion">
                <input matInput *ngIf="esMovil" type="text" placeholder="Ubicación" name="ubicacion" [(ngModel)]="impresora.ubicacion">
            </mat-form-field>
            <mat-checkbox name="traslado" class="fullWidth" [(ngModel)]="+impresora.bluetooth">¿Es bluetooth?
            </mat-checkbox>
            <mat-form-field class="fullWidth" *ngIf="+impresora.bluetooth === 1">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Bluetooth MAC Address" name="bluetooth_mac_address" [(ngModel)]="impresora.bluetooth_mac_address" [required]="+impresora.bluetooth === 1">
                <input matInput *ngIf="esMovil" type="text" placeholder="Bluetooth MAC Address" name="bluetooth_mac_address" [(ngModel)]="impresora.bluetooth_mac_address" [required]="+impresora.bluetooth === 1">
            </mat-form-field>
            <mat-form-field class="fullWidth" *ngIf="+impresora.bluetooth === 1">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Modelo" name="modelo" [(ngModel)]="impresora.modelo" [required]="+impresora.bluetooth === 1">
                <input matInput *ngIf="esMovil" type="text" placeholder="Modelo" name="modelo" [(ngModel)]="impresora.modelo" [required]="+impresora.bluetooth === 1">
            </mat-form-field>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion"
                    [disabled]="!frmImpresora.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetImpresora()"
                    *ngIf="impresora.impresora">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>