.fullWidth {
    width: 100% !important;
}

.spacer {
    flex: 1 1 auto !important;
}

.noImpreso {
    background-color: #c7c7c7;
}

.text-pre-wrap{
    white-space: pre-wrap !important;
}

.lineaDeTotal {
    font-weight: bold !important;
    font-size: 11pt !important;
}
