<mat-list class="fullWidth" [style.height]="listHeight">
    <mat-list-item *ngFor="let p of listaProductos; let i = index;" [ngClass]="{'noImpreso': !p.impreso}" [style.height]="p.itemListHeight">
        <div matLine class="fullWidth d-flex justify-content-between">
            <span>{{p.cantidad}}&nbsp;{{p.nombre}}</span>
            <span class="spacer"></span>
            <span>{{(p.cantidad * p.precio) | number: '1.2-2'}}</span>&nbsp;
            <eco-fab-speed-dial direction="left" *ngIf="!p.impreso">
                <eco-fab-speed-dial-trigger>
                    <button mat-fab>
                        <mat-icon style="font-size: 18pt !important;">keyboard_arrow_left</mat-icon>
                    </button>
                </eco-fab-speed-dial-trigger>
                <eco-fab-speed-dial-actions>
                    <button mat-mini-fab (click)="deleteProductoFromList(i)" color="warn">
                        <mat-icon style="font-size: 16pt !important;">delete_forever</mat-icon>
                    </button>  
                    <button mat-mini-fab (click)="removeProducto(p, i)" color="warn">
                        <mat-icon style="font-size: 16pt !important;">remove_circle</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="toggleShowInputNotas(p)" color="accent">
                        <mat-icon style="font-size: 16pt !important;">notes</mat-icon>
                    </button>                    
                </eco-fab-speed-dial-actions>
            </eco-fab-speed-dial>
        </div>
        <div matLine class="fullWidth">
            <mat-form-field class="fullWidth" *ngIf="p.showInputNotas">
                <input matInput placeholder="Notas de producto" [(ngModel)]="p.notas" (keyup.enter)="toggleShowInputNotas(p)">
            </mat-form-field>
        </div>
    </mat-list-item>
</mat-list>