<div class="row">
    <div class="col m12 s12">
        <mat-card class="mat-elevation-z4 fullWidth">
            <mat-card-title>
                <h4>Reporte de ventas</h4>
            </mat-card-title>
            <mat-card-content>
                <form #frmEntidad="ngForm" novalidate>
                    <mat-form-field class="fullWidth">
                        <mat-label>Tipo</mat-label>
                        <mat-select name="tipo_reporte" [(ngModel)]="params.tipo_reporte" required>
                            <mat-option *ngFor="let tr of tiposReporte" [value]="tr.tipo_reporte">
                                {{tr.descripcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="fullWidth separacionPorHint">
                        <mat-label>Tipo de turno</mat-label>
                        <mat-select name="turno_tipo" [(ngModel)]="params.turno_tipo">
                            <mat-option *ngFor="let tt of tiposTurno" [value]="tt.turno_tipo">
                                {{tt.descripcion}}
                            </mat-option>
                        </mat-select>
                        <mat-hint align="start" *ngIf="params.turno_tipo && +params.tipo_reporte > 1">
                            <strong>
                                No incluirá facturas manuales porque las facturas manuales no pertenecen a ningún turno.
                            </strong>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="fullWidth">
                        <input type="date" matInput placeholder="Del" name="fdel" [(ngModel)]="params.fdel" required>
                    </mat-form-field>

                    <mat-form-field class="fullWidth">
                        <input type="date" matInput placeholder="Al" name="fal" [(ngModel)]="params.fal" required>
                    </mat-form-field>

                    <mat-form-field class="fullWidth">
                        <mat-label>Sede</mat-label>
                        <mat-select name="sede" multiple [(ngModel)]="params.sede">
                            <mat-option *ngFor="let sede of sedes" [value]="sede.sede.sede">
                                {{sede.sede.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                    
                    <app-rpt-botones [configuracion]="configBotones" (excelClick) = "getReporte(3)" (pdfClick)="getReporte(2)" (resetParamsClick)="resetParams()"></app-rpt-botones>
                </form>
                <app-cargando *ngIf="cargando"></app-cargando>
            </mat-card-content>
        </mat-card>
    </div>
</div>