<h1 mat-dialog-title>
  {{title}}
</h1>
<div mat-dialog-content>
  <p>{{message}}</p>
  <div *ngIf="config.input">
    <p *ngFor="let input of config.input">
      <mat-form-field class="fullWidth" *ngIf="input.select">
        <mat-label>{{ input.label }}</mat-label>
        <mat-select name="input.label" [(ngModel)]="input.valor" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let dato of input.datos" [value]="dato[input.id]">
                {{ dato[input.descripcion] }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="fullWidth" *ngIf="!input.select">
        <input matInput type="text" [placeholder]="input.label" [name]="input.label" [(ngModel)]="input.valor">
      </mat-form-field>
    </p>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button class="btnConfig" (click)="onDismiss()">{{lblBtnDeny}}</button>
  <button mat-raised-button class="btnConfig" color="accent" (click)="onConfirm()">{{lblBtnConfirm}}</button>
</div>