<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Unidad de medida {{!!medida.medida ? medida.descripcion : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmMedida="ngForm" (ngSubmit)="frmMedida.form.valid && onSubmit()" novalidate>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Descripción" name="descripcion" [(ngModel)]="medida.descripcion" required>
                </mat-form-field>
            </div>            
            <div class="btn-group d-flex justify-content-end" role="group">
                <button mat-icon-button type="submit" color="accent" [disabled]="!frmMedida.form.valid">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button type="button" color="accent" (click)="resetMedida()" *ngIf="medida.medida">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>