<h1 mat-dialog-title>Unir cuentas</h1>
<div mat-dialog-content>
    <form #frmUnirCuenta="ngForm" novalidate>
        <mat-form-field>
            <mat-label>Unir cuenta de</mat-label>
            <mat-select name="cuentaDe" [(ngModel)]="cuentaDe" required>
                <mat-option *ngFor="let ctaDe of data.mesaEnUso.cuentas" [value]="ctaDe" [disabled]="+ctaDe.cerrada === 1">
                    {{ctaDe.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>con la cuenta de</mat-label>
            <mat-select name="cuentaA" [(ngModel)]="cuentaA" required>
                <mat-option *ngFor="let ctaA of data.mesaEnUso.cuentas" [value]="ctaA" [disabled]="+ctaA.cerrada === 1">
                    {{ctaA.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancelar()" color="warn">
        Cancelar
    </button>
    <button mat-raised-button type="button" color="accent" (click)="unirCuentas(cuentaDe, cuentaA)" [disabled]="!frmUnirCuenta.form.valid || !cuentaDe || !cuentaA || +cuentaDe.numero === +cuentaA.numero">
        Unir cuentas
    </button>    
</div>