<h1 mat-dialog-title>
    Validar contraseña<br/>
    {{data.subtitulo || 'Gerente de turno'}}
</h1>
<mat-dialog-content>
    <form #frmValidaPwd="ngForm" (ngSubmit)="frmValidaPwd.form.valid" novalidate>
        <mat-form-field class="fullWidth">
            <input type="password" matInput placeholder="Contraseña" name="pwd" [(ngModel)]="pwd" required>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancelar()" color="secondary" class="btnAccion">
        Cancelar
    </button>
    <button mat-raised-button (click)="terminar()" [disabled]="!frmValidaPwd.form.valid" color="accent">
        {{data.etiquetaAceptar || 'Validar'}}
    </button>
</mat-dialog-actions>
