<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Egreso{{!!egreso.egreso ? (' No. ' + egreso.egreso) : ''}}
            <button mat-icon-button type="button" color="accent" (click)="showEgresoForm = true;"
                *ngIf="!showEgresoForm">
                <mat-icon class="iconFontSize">expand_more</mat-icon>
            </button>
            <button mat-icon-button type="button" color="accent" (click)="showEgresoForm = false;"
                *ngIf="showEgresoForm">
                <mat-icon class="iconFontSize">expand_less</mat-icon>
            </button>
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmEgreso="ngForm" *ngIf="showEgresoForm" (ngSubmit)="frmEgreso.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth" *ngIf = "saveToDB">
                <mat-label>Tipo de movimiento</mat-label>
                <mat-select name="tipo_movimiento" [(ngModel)]="egreso.tipo_movimiento" required>
                    <mat-option *ngFor="let tm of tiposMovimiento" [value]="tm.tipo_movimiento">
                        {{tm.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="date" placeholder="Fecha" name="fecha" [(ngModel)]="egreso.fecha" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Bodega</mat-label>
                <mat-select name="bodega" [(ngModel)]="egreso.bodega" required>
                    <mat-option *ngFor="let bode of bodegas" [value]="bode.bodega">
                        {{bode.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox name="traslado" class="fullWidth" *ngIf="saveToDB" [(ngModel)]="+egreso.traslado">¿Es traslado entre bodegas de la misma sede?
            </mat-checkbox>
            <mat-form-field class="fullWidth" *ngIf="+egreso.traslado == 1 && ([2, 3].indexOf(+egreso.estatus_movimiento) < 0)">
                <mat-label>Bodega destino</mat-label>
                <mat-select name="bodega_destino" [(ngModel)]="egreso.bodega_destino"
                    [required]="+egreso.traslado == 1">
                    <mat-option *ngFor="let bodeDest of bodegas" [value]="bodeDest.bodega">
                        {{bodeDest.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth" *ngIf="+egreso.traslado == 1 && ([2, 3].indexOf(+egreso.estatus_movimiento) < 0)">
                <mat-label>Tipo de movimiento destino</mat-label>
                <mat-select name="tipo_movimiento_destino" [(ngModel)]="egreso.tipo_movimiento_destino"
                    [required]="+egreso.traslado == 1">
                    <mat-option *ngFor="let tmD of tiposMovimientoIngreso" [value]="tmD.tipo_movimiento">
                        {{tmD.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span *ngIf="!!egreso.idcomandafox"><br/><strong>Comanda: #{{egreso.idcomandafox}}</strong></span>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion"
                    [disabled]="!frmEgreso.form.valid || ([2, 3].indexOf(+egreso.estatus_movimiento) >= 0) || bloqueoBotones"
                    *ngIf="saveToDB">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" class="btnAccion" (click)="confirmarEgreso()"
                    *ngIf="egreso.egreso && detallesEgreso.length > 0"
                    [disabled]="!frmEgreso.form.valid || [2, 3].indexOf(+egreso.estatus_movimiento) >= 0">
                    Confirmar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetEgreso()" *ngIf="egreso.egreso">
                    Nuevo
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<hr *ngIf="egreso.egreso || !saveToDB" />
<mat-card class="mat-elevation-z4 fullWidth" *ngIf="egreso.egreso || !saveToDB">
    <mat-card-title>
        <h4>
            Detalle del egreso {{saveToDB ? 'No.' : ''}} {{egreso.egreso}}
            <button mat-icon-button type="button" color="accent" (click)="showDetalleEgresoForm = true;"
                *ngIf="!showDetalleEgresoForm">
                <mat-icon class="iconFontSize">expand_more</mat-icon>
            </button>
            <button mat-icon-button type="button" color="accent" (click)="showDetalleEgresoForm = false;"
                *ngIf="showDetalleEgresoForm">
                <mat-icon class="iconFontSize">expand_less</mat-icon>
            </button>
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmDetalleEgreso="ngForm" *ngIf="showDetalleEgresoForm"
            (ngSubmit)="frmDetalleEgreso.form.valid && onSubmitDetail()" novalidate>            
            <mat-form-field class="fullWidth">
                <mat-label>Artículo</mat-label>                    
                <input type="text" [(ngModel)]="txtArticuloSelected" [ngModelOptions]="{standalone: true}" placeholder="Artículo" matInput [matAutocomplete]="autoArticulos" (keyup)="filtrarArticulos(txtArticuloSelected)" required>
                <mat-autocomplete #autoArticulos="matAutocomplete" [displayWith]="displayArticulo" (optionSelected)="setPresentaciones()">
                    <mat-option *ngFor="let a of filteredArticulos" [value]="a">
                        {{a.descripcion}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="fullWidth">
                <mat-label>Presentación</mat-label>
                <mat-select name="presentacion" [(ngModel)]="detalleEgreso.presentacion" required>
                    <mat-option *ngFor="let p of fltrPresentaciones" [value]="p.presentacion">
                        {{p.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput placeholder="Cantidad" name="cantidad" type="number" step="0.01" [(ngModel)]="detalleEgreso.cantidad"
                    (change)="detalleEgreso.precio_total = +detalleEgreso.precio_unitario * +detalleEgreso.cantidad"
                    required>
            </mat-form-field>            
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion"
                    [disabled]="!frmDetalleEgreso.form.valid || [2, 3].indexOf(+egreso.estatus_movimiento) >= 0 || bloqueoBotones"
                    *ngIf="saveToDB">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="addToDetail()"
                    [disabled]="!frmDetalleEgreso.form.valid || [2, 3].indexOf(+egreso.estatus_movimiento) >= 0"
                    *ngIf="!saveToDB">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetDetalleEgreso()"
                    *ngIf="detalleEgreso.egreso_detalle">
                    Nuevo
                </button>
            </div>
        </form>
        <hr *ngIf="detallesEgreso.length > 0" />
        
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" (input)="applyFilter($event.target.value)" placeholder="Buscar">
                <input matInput *ngIf="esMovil" (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            </mat-form-field>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z4 full-width"
            *ngIf="detallesEgreso.length > 0">
            <ng-container matColumnDef="articulo">
                <th mat-header-cell *matHeaderCellDef>Artículo</th>
                <td mat-cell *matCellDef="let element" class="text-wrap">
                    {{saveToDB ? element.articulo.descripcion : getDescripcionArticulo(element.articulo)}}</td>
            </ng-container>
            <ng-container matColumnDef="presentacion">
                <th mat-header-cell *matHeaderCellDef>Presentación</th>
                <td mat-cell *matCellDef="let element" class="text-wrap">
                    {{saveToDB ? element.presentacion.descripcion : getDescripcionPresentacion(element.presentacion)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef class="text-right">Cantidad</th>
                <td mat-cell *matCellDef="let element" class="text-right">{{element.cantidad | number:'1.2-2'}}</td>
            </ng-container>
            <ng-container matColumnDef="precio_unitario" >
                <th mat-header-cell *matHeaderCellDef class="text-right">Costo Unitario</th>
                <td mat-cell *matCellDef="let element" class="text-right">{{element.precio_unitario | number:'1.2-2'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="precio_total">
                <th mat-header-cell *matHeaderCellDef class="text-right">Costo Total</th>
                <td mat-cell *matCellDef="let element" class="text-right">{{element.precio_total | number:'1.2-2'}}</td>
            </ng-container>
            <ng-container matColumnDef="editItem">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let element" class="text-wrap">
                    <button mat-raised-button type="button" color="accent" class="btnAccion"
                        (click)="getDetalleEgreso(element.egreso, element.egreso_detalle)"
                        [disabled]="[2, 3].indexOf(+egreso.estatus_movimiento) >= 0 || bloqueoBotones" *ngIf="saveToDB">
                        Editar
                    </button>
                    <button mat-raised-button type="button" color="accent"
                        (click)="editFromDetail(element.articulo)"
                        [disabled]="([2, 3].indexOf(+egreso.estatus_movimiento) >= 0) || bloqueoBotones"
                        *ngIf="!saveToDB">
                        Editar
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="removeFromDetail(element.articulo)"
                        [disabled]="[2, 3].indexOf(+egreso.estatus_movimiento) >= 0 || bloqueoBotones"
                        *ngIf="!saveToDB">
                        Eliminar
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<hr *ngIf="egreso.egreso || !saveToDB" />
<mat-card class="mat-elevation-z4 fullWidth" *ngIf="!saveToDB">
    <mat-card-title>
        <h4>
            Merma {{saveToDB ? 'No.' : ''}} {{egreso.egreso}}
            <button mat-icon-button type="button" color="accent" (click)="showDetalleEgresoForm = true;"
                *ngIf="!showDetalleEgresoForm">
                <mat-icon class="iconFontSize">expand_more</mat-icon>
            </button>
            <button mat-icon-button type="button" color="accent" (click)="showDetalleEgresoForm = false;"
                *ngIf="showDetalleEgresoForm">
                <mat-icon class="iconFontSize">expand_less</mat-icon>
            </button>
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmMerma="ngForm" *ngIf="showDetalleEgresoForm" (ngSubmit)="frmMerma.form.valid && onSubmitDetail()"
            novalidate>
            <mat-form-field class="fullWidth">
                <mat-label>Artículo</mat-label>                    
                <input type="text" [(ngModel)]="txtArticuloSelectedM" [ngModelOptions]="{standalone: true}" placeholder="Artículo" matInput [matAutocomplete]="autoArticulos" (keyup)="filtrarArticulos(txtArticuloSelectedM)" required>
                <mat-autocomplete #autoArticulos="matAutocomplete" [displayWith]="displayArticuloMerma" (optionSelected)="setPresentacionesMerma()">
                    <mat-option *ngFor="let a of filteredArticulos" [value]="a">
                        {{a.descripcion}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput placeholder="Cantidad a Utilizar" name="cantidad_utilizar" [(ngModel)]="detalleMerma.cantidad_utilizada"
                    required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput placeholder="Cantidad" name="cantidad" type="number" step="0.01" [(ngModel)]="detalleMerma.cantidad"
                    required>
            </mat-form-field>            
            
            <div align="end">
                <button mat-raised-button type="button" color="accent" (click)="addToDetailMerma()"
                    [disabled]="!frmMerma.form.valid || [2, 3].indexOf(+egreso.estatus_movimiento) >= 0"
                    *ngIf="!saveToDB">
                    Guardar
                </button>
            </div>
        </form>
        <hr *ngIf="detallesMerma.length > 0" />
        <table mat-table [dataSource]="dataSourceM" class="mat-elevation-z4 full-width" *ngIf="detallesMerma.length > 0">
            <ng-container matColumnDef="articulo">
                <th mat-header-cell *matHeaderCellDef>Artículo</th>
                <td mat-cell *matCellDef="let element" class="text-wrap">
                    {{saveToDB ? element.articulo.descripcion : getDescripcionArticulo(element.articulo)}}</td>
            </ng-container>
            <ng-container matColumnDef="presentacion">
                <th mat-header-cell *matHeaderCellDef>Presentación</th>
                <td mat-cell *matCellDef="let element" class="text-wrap">
                    {{saveToDB ? element.presentacion.descripcion : getDescripcionPresentacion(element.presentacion)}}
                </td>
            </ng-container>
            <ng-container matColumnDef="cantidad_utilizada">
                <th mat-header-cell *matHeaderCellDef class="text-right">Cantidad a Utilizar</th>
                <td mat-cell *matCellDef="let element" class="text-right">{{element.cantidad_utilizada | number:'1.2-2'}}</td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef class="text-right">Cantidad</th>
                <td mat-cell *matCellDef="let element" class="text-right">{{element.cantidad | number:'1.2-2'}}</td>
            </ng-container>
            <ng-container matColumnDef="editItem">
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let element" class="text-wrap">
                    <button mat-raised-button type="button" color="accent" class="btnAccion"
                        (click)="getDetalleEgreso(element.egreso, element.egreso_detalle)"
                        [disabled]="[2, 3].indexOf(+egreso.estatus_movimiento) >= 0 || bloqueoBotones" *ngIf="saveToDB">
                        Editar
                    </button>
                    <button mat-raised-button type="button" color="accent"
                        (click)="editFromDetailMerma(element.articulo)"
                        [disabled]="([2, 3].indexOf(+egreso.estatus_movimiento) >= 0) || bloqueoBotones"
                        *ngIf="!saveToDB">
                        Editar
                    </button>
                    <button mat-raised-button type="button" color="accent" (click)="removeFromDetailMerma(element.articulo)"
                        [disabled]="[2, 3].indexOf(+egreso.estatus_movimiento) >= 0 || bloqueoBotones"
                        *ngIf="!saveToDB">
                        Eliminar
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsM"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsM;">
            </tr>
        </table>
    </mat-card-content>
</mat-card>