#navHeader {
    width: 100vw;
    /*border: dotted 1px lightslategray;*/
}

.spacer {
    flex: 1 1 auto;
}

button .mat-icon{
    font-size: 24px;
}

.btnApp {
    width: 80px;
}

.btnCell {
    width: 33.33% !important;
    vertical-align: middle !important;
    text-align: center !important;
}

/*
::ng-deep .mat-menu-panel {
    width: 800px !important;
    height: 200px !important;
    padding: 0 5px !important;    
}
*/

@media (max-width: 400px) {
    button {
        font-size: 10pt !important;
    }

    img {
        width: 20px;
        height: 20px;
    }
}