<mat-toolbar color="primary-lighter">
    <mat-toolbar-row>
        <img src="/assets/img/minilogo.svg" width="30" height="30" alt="Rest-Touch Pro">
        <span class="spacer"></span>
        <app-clock [idleStatus]="idleState"></app-clock>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
            {{usrInfo.usuario}}&nbsp;<mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="LogOut()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <div align="center">
                <button mat-raised-button color="accent" class="btnApp btnAccion" *ngFor="let modulo of appMenu" (click)="handleClick(modulo.nombre)">
                    <span>{{modulo.nombre}}</span>
                </button>
            </div>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>