<mat-toolbar color="primary-lighter">
    <mat-toolbar-row>
        <img src="/assets/img/minilogo.svg" width="30" height="30" alt="Rest-Touch Pro">
        <span class="spacer"></span>
        <app-clock></app-clock>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
            {{usrInfo.usuario}}&nbsp;<mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="LogOut()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <div align="center">
                <button mat-button *ngFor="let modulo of appMenu" (click)="handleClick(modulo.nombre)">
                    <mat-icon>{{modulo.icono}}</mat-icon>
                    <br/>
                    <span>{{modulo.nombre}}</span>
                </button>
            </div>
            <!--
            <div class="d-flex flex-row" *ngFor="let fila of appMenu">
                <div class="p-2" *ngFor="let boton of fila.boton">
                    <a mat-button [routerLink]="boton.url" (click)="handleClick(boton.rol)">
                        <mat-icon>{{boton.icono}}</mat-icon><br/>
                        <span>{{boton.descripcion}}</span>
                    </a>
                </div>
            </div>
            -->
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>