<div class="row">
    <div class="col m3 s1"></div>
    <div class="col m6 s10 topMargin">
        <mat-card class="example-card">
            <img id="imgLogo" mat-card-image src="/assets/img/logo.svg" alt="Rest-Touch">
            <mat-card-content>
                <h5>Ingreso</h5>
                <form #frmLogIn="ngForm" novalidate>
                    <mat-form-field class="fullWidth">
                        <input matInput type="text" placeholder="Usuario" id="txtUsuario" name="txtUsuario" [(ngModel)]="usr.usuario" required>
                    </mat-form-field>
                    <mat-form-field class="fullWidth">
                        <input matInput type="password" id="txtContrasenia" name="txtContrasenia" [(ngModel)]="usr.contrasenia" placeholder="Contraseña" required>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
                <button id="btnLogin" mat-flat-button type="button" color="accent" class="fullWidth" (click)="doLogin()" [disabled]="!frmLogIn.form.valid">Ingresar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col m3 s1"></div>
</div>