<mat-nav-list>
    <h4 mat-subheader>Menú</h4>
    <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="active" matLine (click)="itemClicked()">
            Inicio
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <a [routerLink]="['/restaurante/mantareas']" routerLinkActive="active" matLine (click)="itemClicked()">
            Mantenimiento de áreas
        </a>
    </mat-list-item>    
    <mat-list-item>
        <mat-icon mat-list-icon>restaurant</mat-icon>
        <a [routerLink]="['/restaurante/tranareas']" routerLinkActive="active" matLine (click)="itemClicked()">
            Áreas
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>fastfood</mat-icon>
        <a [routerLink]="['/wms/articulos']" routerLinkActive="active" matLine (click)="itemClicked()">
            Artículos
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <a [routerLink]="['/wms/ingresos']" routerLinkActive="active" matLine (click)="itemClicked()">
            Ingresos
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <a [routerLink]="['/admin/usuario']" routerLinkActive="active" matLine (click)="itemClicked()">
            Usuarios
        </a>
    </mat-list-item>
</mat-nav-list>