<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" style="width: 100%;">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node" style="padding-left: 10px !important;">
            <!-- use a disabled button to provide padding for tree leaf -->
            <!--<button mat-icon-button disabled></button>-->
            <span *ngIf="tieneHijos(node)">{{node.nombre}}</span>
            <!--
            <button mat-raised-button type="button" *ngIf="!tieneHijos(node)" (click)="itemClicked()">{{node.nombre}}</button>
            -->
            <mat-list-item *ngIf="!tieneHijos(node)">
                <mat-icon mat-list-icon>{{node.icono}}</mat-icon>
                <a [routerLink]="node.link" routerLinkActive="active" matLine (click)="itemClicked()">
                    {{node.nombre}}
                </a>
            </mat-list-item>
        </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.nombre">
                    <mat-icon class="mat-icon-rtl-mirror" style="font-size: 24pt !important;">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <span *ngIf="tieneHijos(node)">{{node.nombre}}</span>
                <button mat-raised-button type="button" *ngIf="!tieneHijos(node)" (click)="onProductoClicked(node)">{{node.nombre}}</button>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree>
<!--
<mat-nav-list>
    <h4 mat-subheader>Menú</h4>
    <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="active" matLine (click)="itemClicked()">
            Inicio
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>schedule</mat-icon>
        <a [routerLink]="['/restaurante/turno']" routerLinkActive="active" matLine (click)="itemClicked()">
            Turnos
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <a [routerLink]="['/restaurante/mantareas']" routerLinkActive="active" matLine (click)="itemClicked()">
            Mantenimiento de áreas
        </a>
    </mat-list-item>    
    <mat-list-item>
        <mat-icon mat-list-icon>restaurant</mat-icon>
        <a [routerLink]="['/restaurante/tranareas']" routerLinkActive="active" matLine (click)="itemClicked()">
            Áreas
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>fastfood</mat-icon>
        <a [routerLink]="['/wms/articulos']" routerLinkActive="active" matLine (click)="itemClicked()">
            Artículos
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>trending_up</mat-icon>
        <a [routerLink]="['/wms/ingresos']" routerLinkActive="active" matLine (click)="itemClicked()">
            Ingresos
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>trending_down</mat-icon>
        <a [routerLink]="['/wms/egresos']" routerLinkActive="active" matLine (click)="itemClicked()">
            Egresos
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>description</mat-icon>
        <a [routerLink]="['/ordcomp/ordcomp']" routerLinkActive="active" matLine (click)="itemClicked()">
            Órdenes de compra
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <a [routerLink]="['/pos/fpago']" routerLinkActive="active" matLine (click)="itemClicked()">
            Formas de pago
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <a [routerLink]="['/admin/cliente']" routerLinkActive="active" matLine (click)="itemClicked()">
            Clientes
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>line_weight</mat-icon>
        <a [routerLink]="['/admin/medida']" routerLinkActive="active" matLine (click)="itemClicked()">
            Unidades Medida
        </a>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <a [routerLink]="['/admin/usuario']" routerLinkActive="active" matLine (click)="itemClicked()">
            Usuarios
        </a>
    </mat-list-item>
</mat-nav-list>
-->