<h5>Teléfonos asociados</h5>
<table>
    <caption style="text-align: left;">
        <form #frmTelefono="ngForm" (ngSubmit)="frmTelefono.form.valid && checkTelefono()" novalidate>
            <mat-form-field style="width: 75%; padding-right: 5px;">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Teléfono" name="telefono" [(ngModel)]="telefono.numero" (keypress)="validatePhone($event)" minlength="8" maxlength="25" required>
                <input matInput *ngIf="esMovil" type="text" placeholder="Teléfono" name="telefono" [(ngModel)]="telefono.numero" (keypress)="validatePhone($event)" minlength="8" maxlength="25" required>
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent" [disabled]="!frmTelefono.form.valid || cargando">
                Asociar
            </button>            
        </form>        
    </caption>
    <thead>
        <tr>
            <th>Número</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tel of lstTelefonos">
            <td>{{tel.numero}}</td>
            <td>
                <button mat-raised-button type="button" color="accent" (click)="desasociarTelefono(tel)" [disabled]="cargando">
                    Desasociar
                </button>                
            </td>
        </tr>
    </tbody>
</table>
