<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>Área</h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmEntidad="ngForm" (ngSubmit)="frmEntidad.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth" *ngIf="esMovil">
                <input type="text" matInput placeholder="Nombre" name="nombre" [(ngModel)]="entidad.nombre" required>
            </mat-form-field>
            <mat-form-field class="fullWidth" *ngIf="!esMovil">
                <input type="text" matInput ng-virtual-keyboard ng-virtual-keyboard-layout="alphanumeric"
                    ng-virtual-keyboard-placeholder="Nombre" placeholder="Nombre" name="nombre"
                    [(ngModel)]="entidad.nombre" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Área padre</mat-label>
                <mat-select name="area_padre" [(ngModel)]="entidad.area_padre">
                    <mat-option *ngFor="let ar of lstAreas" [value]="ar.area">
                        {{ar.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Impresora</mat-label>
                <mat-select name="impresora" [(ngModel)]="entidad.impresora" required>
                    <mat-option *ngFor="let imp of impresoras" [value]="imp.impresora">
                        {{imp.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h5>Mesas en el área: {{entidad.mesas.length}}</h5>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmEntidad.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" class="btnAccion" (click)="openDesigner()" *ngIf="entidad.area">
                    Diseñar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetEntidad()" *ngIf="entidad.area">
                    Nuevo
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>