<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-content>
        <mat-form-field class="fullWidth">
            <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" (input)="applyFilter()" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
            <input matInput *ngIf="esMovil" (keyup)="applyFilter()" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-nav-list>
            <mat-list-item *ngFor="let element of lstTipoDireccionPaged" (click)="getTipoDireccion(element)">
                <mat-icon mat-list-icon>contact_mail</mat-icon>
                <h5 mat-line>{{element.descripcion}}</h5>
            </mat-list-item>
        </mat-nav-list>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card-content>
</mat-card>
