<h1 mat-dialog-title>{{clienteMaster.cliente_master ? clienteMaster.nombre : 'Nuevo cliente'}}</h1>
<div mat-dialog-content class="contenido">
    <div class="row">
        <div class="col m12 s12">
            <app-form-cliente-master #frmClienteMaster [clienteMaster]="clienteMaster"></app-form-cliente-master>
        </div>
    </div>    
    <div class="row">
        <div class="col m5 s12">
            <app-cliente-master-telefono #frmClienteMasterTelefono [clienteMaster]="clienteMaster"></app-cliente-master-telefono>
        </div>
        <div class="col m7 s12">
            <app-cliente-master-direccion #frmClienteMasterDireccion [clienteMaster]="clienteMaster"></app-cliente-master-direccion>
        </div>        
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancelar()" color="warn">
        Cancelar
    </button>
</div>
