<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>Forma de pago por origen</h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmFormaPagoComandaOrigen="ngForm" (ngSubmit)="frmFormaPagoComandaOrigen.form.valid && onSubmit()" novalidate>            
            <mat-form-field class="fullWidth">
                <mat-label>Forma de pago</mat-label>
                <mat-select name="forma_pago" [(ngModel)]="formaPagoComandaOrigen.forma_pago" required>
                    <mat-option *ngFor="let fp of lstFormasPago" [value]="fp.forma_pago">
                        {{fp.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Origen</mat-label>
                <mat-select name="comanda_origen" [(ngModel)]="formaPagoComandaOrigen.comanda_origen" required>
                    <mat-option *ngFor="let comorigen of lstComandaOrigen" [value]="comorigen.comanda_origen">
                        {{comorigen.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input type="text" matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Código" name="codigo" [(ngModel)]="formaPagoComandaOrigen.codigo" minlength="1" maxlength="500" required>
                <input type="text" matInput *ngIf="esMovil" placeholder="Código" name="codigo" [(ngModel)]="formaPagoComandaOrigen.codigo" minlength="1" maxlength="500" required>
            </mat-form-field>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmFormaPagoComandaOrigen.form.valid">
                    Guardar
                </button>                
                <button mat-raised-button type="button" color="accent" (click)="resetFormaPagoComandaOrigen()" *ngIf="formaPagoComandaOrigen.forma_pago_comanda_origen">
                    Nuevo
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
