<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>Usuario</h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmUsuario="ngForm" (ngSubmit)="frmUsuario.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Nombres" name="nombres" [(ngModel)]="usuario.nombres" maxlength="255" required>
                <input matInput *ngIf="esMovil" placeholder="Nombres" name="nombres" [(ngModel)]="usuario.nombres" maxlength="255" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Apellidos" name="apellidos" [(ngModel)]="usuario.apellidos" maxlength="255" required>
                <input matInput *ngIf="esMovil" placeholder="Apellidos" name="apellidos" [(ngModel)]="usuario.apellidos" maxlength="255" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Usuario" name="usrname" [(ngModel)]="usuario.usrname" maxlength="15" required>
                <input matInput *ngIf="esMovil" placeholder="Usuario" name="usrname" [(ngModel)]="usuario.usrname" maxlength="15" required>
            </mat-form-field>
            <mat-form-field class="fullWidth separacionPorHint">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="password" placeholder="Contraseña" name="contrasenia" minlength="4" maxlength="10" [(ngModel)]="usuario.contrasenia" [required]="!usuario.usuario">
                <input matInput *ngIf="esMovil" type="password" placeholder="Contraseña" name="contrasenia" minlength="4" maxlength="10" [(ngModel)]="usuario.contrasenia" [required]="!usuario.usuario">
                <mat-hint align="start"><strong>La contraseña debe tener entre 4 y 10 caracteres. Se recomienda una contraseña segura pero fácil de recordar.</strong></mat-hint>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="password" placeholder="Pin desbloqueo" name="pindesbloqueo" [(ngModel)]="usuario.pindesbloqueo" minlength="4" maxlength="32" [required]="habilitaBloqueo">
                <input matInput *ngIf="esMovil" type="password" placeholder="Pin desbloqueo" name="pindesbloqueo" [(ngModel)]="usuario.pindesbloqueo" minlength="4" maxlength="32" [required]="habilitaBloqueo">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Sede</mat-label>
                <mat-select name="sede" [(ngModel)]="usuario.sede" [disabled]="disableSede" required>
                    <mat-option *ngFor="let s of sedes" [value]="s.sede">
                        {{s.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox name="esmesero" [(ngModel)]="+usuario.esmesero" class="fontFamily">Es mesero</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox name="usatecladovirtual" [(ngModel)]="+usuario.usatecladovirtual" class="fontFamily">Usa teclado virtual</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox name="debaja" [(ngModel)]="+usuario.debaja" class="fontFamily">De baja</mat-checkbox>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmUsuario.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetUsuario()" *ngIf="usuario.usuario">
                    Nuevo
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>