<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Presentación {{!!presentacion.presentacion ? presentacion.descripcion : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmMedida="ngForm" (ngSubmit)="frmMedida.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" type="text" placeholder="Descripción" name="descripcion" [(ngModel)]="presentacion.descripcion" minlength="1" maxlength="75" required>
                <input matInput *ngIf="esMovil" type="text" placeholder="Descripción" name="descripcion" [(ngModel)]="presentacion.descripcion" minlength="1" maxlength="75" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <mat-label>Medida</mat-label>
                <mat-select name="medida" [(ngModel)]="presentacion.medida" required>
                    <mat-option *ngFor="let m of medidas" [value]="m.medida">
                        {{m.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="number" placeholder="Cantidad" name="cantidad" [(ngModel)]="presentacion.cantidad" step="0.01" maxlength="10" required>
            </mat-form-field>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmMedida.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetPresentacion()"
                    *ngIf="presentacion.presentacion">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>