<div class="container d-flex justify-content-center align-items-center" style="height: 400px !important; overflow-y: hidden !important;">

    <div class="d-flex flex-row" *ngFor="let modulo of appMenu">
        <button mat-button class="divBtnSize" (click)="handleClick(modulo.nombre)">
            <mat-icon class="lnkIconBoton">{{modulo.icono}}</mat-icon>
            <br/>
            <span class="lnkBoton">{{modulo.nombre}}</span>
        </button>
        <!--<div class="mat-elevation-z2 divBtnSize" *ngFor="let boton of fila.boton"></div>-->
    </div>

</div>