.divFullSize {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.col {
    padding-top: 1px;
    padding-bottom: 1px;
}

.btnAccionComanda {
    width: 135px;
}

.colProductos {
    overflow-y: auto;
    height: 400px !important;
}