<div class="divFullSize">
    <div class="row">
        <div class="col m12 s12" align="center">
            <span class="bld" style="font-size: 14pt;">{{mesaEnUso.mesa.area.nombre}} - Mesa #{{mesaEnUso.mesa.numero}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12" align="center" style="padding: 0 !important;">
            <button mat-raised-button type="button" color="accent" class="btnAccion" *ngFor="let cta of mesaEnUso.cuentas" [disabled]="+cta.cerrada == 1"
                (click)="setSelectedCuenta(cta.numero)">
                {{cta.nombre}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12" align="center" style="padding: 0 !important;">
            <span class="bld">Productos</span>
        </div>
        <div class="col m6 s12" align="center" style="padding: 0 !important;">
            <span class="bld" *ngIf="cuentaActiva.nombre">Cuenta de {{cuentaActiva.nombre}}</span>
            <span class="bld" *ngIf="!cuentaActiva.nombre">Por favor seleccione una cuenta. Gracias.</span>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12 mat-elevation-z3" style="overflow-y: auto;">
            <app-lista-producto (productoClickedEv)="addProductoSelected($event)"></app-lista-producto>
        </div>
        <div class="col m6 s12 mat-elevation-z3" style="overflow-y: auto;">
            <app-lista-productos-comanda [listaProductos]="lstProductosDeCuenta" [noCuenta]="+cuentaActiva.numero" [IdComanda]="mesaEnUso.comanda" [IdCuenta]="cuentaActiva.cuenta"
                (productoRemovedEv)="updProductosCuenta($event)"></app-lista-productos-comanda>
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12" align="center">
            <button mat-raised-button type="button" color="accent" class="btnAccion btnAccionComanda" (click)="printComanda()" [disabled]="!cuentaActiva.nombre">
                Comanda
            </button>
            <button mat-raised-button type="button" color="accent" class="btnAccion btnAccionComanda" (click)="printComanda(true)" [disabled]="!cuentaActiva.nombre">
                Comanda (PDF)
            </button>
            <button mat-raised-button type="button" color="accent" class="btnAccion btnAccionComanda" (click)="printCuenta()" [disabled]="!cuentaActiva.nombre">
                Cuenta
            </button>
            <button mat-raised-button type="button" color="accent" class="btnAccion btnAccionComanda" (click)="unirCuentas()" [disabled]="mesaEnUso.cuentas.length < 2">
                Unir cuentas
            </button>
            <button mat-raised-button type="button" color="accent" class="btnAccionComanda" (click)="cobrarCuenta()" [disabled]="!cuentaActiva.nombre || mesaEnUso.turno_rol.toLowerCase().trim() !== 'cajero'">
                Cobrar cuenta
            </button>
        </div>
    </div>
</div>