.divFullSize {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    /*border: 1px black dotted;*/
}

.col {
    padding-top: 1px;
    padding-bottom: 1px;
}

.btnAccionComanda {
    width: 135px;
}

.colProductos {
    overflow-y: auto;
    height: 450px !important;
}

@media (max-width: 400px) {
    .colProductos {     
        height: 300px !important;
    }
}

@media (min-width: 401px) and (max-width: 1024px) {
    .colProductos {     
        height: 450px !important;
    }
}

@media (min-height: 769px) {
    .colProductos {     
        height: 600px !important;
    }
}
