.contenido {
    max-height: 85vh !important;
    height: 100%;
}

.lnkCategorias {
    margin-right: 8px;
    text-decoration: underline;
}

.divSubCategorias {
    border-bottom: #E0E0E0 solid 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.divArticulos {
    padding: 16px;
}

.divArticulos > mat-card {
    width: 200px;
}

/*
.fullScreenDialog {
    max-width: none;
    width: 100%;
    height: 95%;
}
*/
