.contenido {
    max-height: 85vh !important;
    height: 100%;
    overflow-y: hidden;
}

.divSubCategorias {
    /*border-bottom: #E0E0E0 solid 1px;*/
    padding-top: 3px;
    padding-bottom: 3px;
}

.divArticulos {
    padding: 16px;
}

.divArticulos > mat-card {
    width: 200px;
}

.divSeparacion {
    padding-top: 3px;
    padding-bottom: 3px;
}

.bordeTest2 {
    border: 1px;
    border-color: blue;
}