<h1 mat-dialog-title>Notas de {{data.titulo}}</h1>
<mat-dialog-content>
    <form #frmNotasGenCom="ngForm" novalidate>
        <mat-form-field class="fullWidth">
            <textarea matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" placeholder="Notas" name="notasGenerales" [(ngModel)]="data.notasGenerales" maxlength="1000"></textarea>
            <textarea matInput *ngIf="esMovil" placeholder="Notas" name="notasGenerales" [(ngModel)]="data.notasGenerales" maxlength="1000"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="terminar()" color="secondary" class="btnAccion">
        Cancelar
    </button>
    <button mat-raised-button (click)="terminar(data.notasGenerales)" color="accent">
        Guardar
    </button>
</mat-dialog-actions>