.divMesa {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    text-align: right;
    padding-top: 0;
    background-size: contain, cover
}

span {
    font-size: 12pt;
    font-weight: bold;
}

.disponible {
    background-color: lightgreen;
}

.ocupada {    
    background-color: #da332d;
}

.debaja {
    background-color: black;
}