<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-content>
        <mat-form-field class="fullWidth">
            <input matInput type="date" placeholder="Del" [(ngModel)]="params._fdel" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="fullWidth">
            <input matInput type="date" placeholder="Al" [(ngModel)]="params._fal" [ngModelOptions]="{standalone: true}">
        </mat-form-field>        
        <button mat-raised-button type="button" color="accent" (click)="loadEgresos()">
            Buscar
        </button>        
        <mat-form-field class="fullWidth">
            <input matInput *ngIf="!esMovil" [matKeyboard]="keyboardLayout" (input)="applyFilter()" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
            <input matInput *ngIf="esMovil" (keyup)="applyFilter()" placeholder="Buscar..." [(ngModel)]="txtFiltro" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-nav-list>
            <mat-list-item *ngFor="let element of lstEgresosPaged" (click)="getEgreso(element)">
                <mat-icon mat-list-icon>trending_down</mat-icon>
                <h5 mat-line>No. {{element.egreso}}</h5><br/>
                <p mat-line>
                    Fecha: {{element.fecha | date: 'dd/MM/yyyy'}}<br/>
                    Bodega: {{element.bodega.descripcion}}<br/>
                </p>
                <span mat-line *ngIf="!!element.idcomandafox">Comanda: #{{element.idcomandafox}}</span>
            </mat-list-item>
        </mat-nav-list>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" showFirstLastButtons>
        </mat-paginator>
    </mat-card-content>
</mat-card>
