<div class="row">
    <div class="col m12 s12">
        <mat-card class="mat-elevation-z4 fullWidth">
            <mat-card-title>
                <h4>Replicar {{articulo?.descripcion || 'TODOS los artículos'}} a las sedes</h4>
            </mat-card-title>
            <mat-card-content>
                <form #frmReplicaArticulosSedes="ngForm" (ngSubmit)="frmReplicaArticulosSedes.form.valid && onSubmit()" novalidate>
                    <mat-form-field class="fullWidth">
                        <mat-label>Sede</mat-label>
                        <mat-select name="sede" multiple [(ngModel)]="params.sede" required>
                            <mat-option *ngFor="let sede of sedes" [value]="sede.sede" [disabled]="+sede.sede === +miSede">
                                {{sede.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div align="end">
                        <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmReplicaArticulosSedes.form.valid || cargando">
                            Replicar
                        </button>
                    </div>
                </form>
                <app-cargando *ngIf="cargando"></app-cargando>
            </mat-card-content>
        </mat-card>
    </div>
</div>