#mtbHeader {
    /*border: solid 1px black;*/
    padding-left: 0px;
    padding-right: 0px;
}

#appHeader {
    width: 100vw;
}

.matSideNavContainer {
    height: 100vh;
}

.menuSideNav {
    width: 30vw !important;
}

@media (max-width: 400px) {
    .menuSideNav {
        width: 50vw !important;
    }

    button, mat-icon {
        font-size: 28pt !important;
    }
}

mat-sidenav-content { 
    padding-top: 5px; 
}