<div class="row">
  <div class="col m12 s12">
    <mat-card class="mat-elevation-z4 fullWidth">
      <mat-card-title>
        <h4>Reporte de caja</h4>
      </mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" novalidate>
          <mat-form-field class="fullWidth">
              <mat-label>Tipo de turno</mat-label>
              <mat-select name="turno_tipo" [(ngModel)]="params.turno_tipo">
                  <mat-option *ngFor="let tt of tiposTurno" [value]="tt.turno_tipo">
                      {{tt.descripcion}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="fullWidth">            
            <input matInput type="date" placeholder="Del" [(ngModel)]="params.fdel" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
          <mat-form-field class="fullWidth">            
            <input matInput type="date" placeholder="Al" [(ngModel)]="params.fal" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
          <mat-checkbox name="traslado" class="fullWidth" [(ngModel)]="+params._detalle">Mostrar Detalle</mat-checkbox>
          <div align="end">
            <button mat-button color="accent" type="submit">GENERAR</button>
          </div>
        </form>        
      </mat-card-content>
    </mat-card>
  </div>
</div>