<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Sede {{!!sede.sede ? sede.nombre : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmSede="ngForm" (ngSubmit)="frmSede.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
				<mat-label>Sede Padre</mat-label>
				<mat-select name="sede" [(ngModel)]="sede.sede_padre">
					<mat-option></mat-option>
					<mat-option *ngFor="let s of sedes" [value]="s.sede" [disabled]="+s.sede === +this.sede.sede">
						{{ s.nombre }}
					</mat-option>
				</mat-select>
			</mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="sede.nombre" minlength="1" maxlength="100" required>
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Dirección" name="direccion" [(ngModel)]="sede.direccion" minlength="1" maxlength="150">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Teléfono" name="telefono" [(ngModel)]="sede.telefono" minlength="1" maxlength="25" (keypress)="validatePhone($event)">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Correo electrónico" name="correo" [(ngModel)]="sede.correo" minlength="1" maxlength="75" (keypress)="validateEmail($event)">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Código" name="codigo" [(ngModel)]="sede.codigo" minlength="1" maxlength="45">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Cuenta contable" name="cuenta_contable" [(ngModel)]="sede.cuenta_contable" minlength="1" maxlength="10">
            </mat-form-field>
            <mat-form-field class="fullWidth">
                <input matInput type="number" step="1" placeholder="Establecimiento F.E.L." name="fel_establecimiento" [(ngModel)]="sede.fel_establecimiento">
            </mat-form-field>
            <mat-form-field class="fullWidth">
				<mat-label>Certificador F.E.L.</mat-label>
				<mat-select name="certificador_fel" [(ngModel)]="sede.certificador_fel" required>
					<mat-option></mat-option>
					<mat-option *ngFor="let cert of certificadores" [value]="cert.certificador_fel">
						{{ cert.nombre }} - {{ cert.usuario }}
					</mat-option>
				</mat-select>
			</mat-form-field>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmSede.form.valid || !empresa.empresa">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetSede()" *ngIf="sede.sede">
                    Nueva
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

