<ng-container *ngIf="+idTurno > 0">
    <mat-button-toggle-group name="tiposCajaCorte" aria-label="Tipos de corte de caja">
        <mat-button-toggle *ngFor="let cct of ccorteTipo" [value]="cct.caja_corte_tipo" (click)="nuevaTranCC(cct)" [disabled]="deshabilitaTipoCC(cct)">
            {{cct.descripcion}}
        </mat-button-toggle>        
    </mat-button-toggle-group>    
    <mat-card class="mat-elevation-z4 fullWidth">
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
</ng-container>
