<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Tipo de Turno {{!!turno.turno_tipo ? turno.descripcion : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmTurno="ngForm" (ngSubmit)="frmTurno.form.valid && onSubmit()" novalidate>
            <mat-form-field class="fullWidth">
                <input matInput type="text" placeholder="Descripción" name="descripcion" [(ngModel)]="turno.descripcion" minlength="1" maxlength="45" required>
            </mat-form-field>
            <mat-checkbox name="activo" class="fullWidth" [(ngModel)]="+turno.activo">Activo</mat-checkbox>
            <div align="end">
                <button mat-raised-button type="submit" color="accent" class="btnAccion" [disabled]="!frmTurno.form.valid">
                    Guardar
                </button>
                <button mat-raised-button type="button" color="accent" (click)="resetTurno()" *ngIf="turno.turno_tipo">
                    Nuevo
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>