/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-pivotview/styles/material.css';
@import "m-modified.css";

/*
html, body {
    height: 90vh;
}
*/

body {
    height: 90vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fontFamily {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bckDarkGrey {
    background-color: #444444;
}

.bckGrey {
    background-color: #858181;
}

.bckSemiDarkGrey {
    background-color: #555555;
}

.bckSemiLightGrey {
    background-color: #666666;
}

.bckLightGrey {
    background-color: #fafafa;
}

.fontColorWhite {
    color: white;
}

.fontColorBlack {
    color: black;
}

.bckRed {
    background-color: #DA332D;
}

.container-fluid{
    padding-top: 10px;
}

button {
    min-width: 48px !important;
    min-height: 48px !important;
}

button .mat-icon {
    font-size: 48px;
}

.fullWidth {
    width: 100%;
}

.bld {
    font-weight: bold;
}

.rtxt {
    text-align: right;
}

.ctxt {
    text-align: center;
}

.ltxt {
    text-align: left;
}

.brdTSingleBDouble {
    border-top: solid 1px black;
    border-bottom: double 3px black;
}

.brdTSingleBSingle {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.brdBSingle {
    border-bottom: solid 1px black;
}

.tab {
    padding-left: 10px;
}

.doubleTab {
    padding-left: 20px;
}

.tbl {
    width: 100%;
    border-collapse: collapse;
}

.btnAccion {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    margin-right: 8px !important;

}

.bordeTest {
    border: 1px solid black;
}

.tabulador {
    padding-left: 0.6em;
}

.tabulador-doble {
    padding-left: 1.2em;
}

.separacionPorHint{
    margin-bottom: 15px;
}
