<div class="diseniador">
    <div style="height: 50px;" align="center">
        <button mat-flat-button type="button" color="accent" (click)="addTable()">
            Agregar mesa
        </button>
        <button mat-flat-button type="button" color="accent" (click)="terminar()">
            Terminar
        </button>
    </div>
    <div id="divAreaPosicionamiento" class="areaPosicionamiento">
        <app-mesa *ngFor="let m of mesas" [configuracion]="m" (onClickMesa)="onClickMesa($event)" [dontAllowDrag]="false"></app-mesa>
    </div>
</div>