.matSideNavContainer {
    height: 90%;
    overflow: hidden !important; 
}

.divAreaMesa {
    width: 100vw;
    height: 90vh;
    background-color: #c7c7c749;
}

mat-sidenav {
    width: 97vw;
    /*border: 1px black solid;*/
    
}

::ng-deep .mat-drawer-inner-container {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

/*
@media (max-width: 600px) {
    ::ng-deep .mat-drawer-inner-container {
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}
*/