<div class="row">
    <div *ngFor="let rec of combo.receta">
        <div *ngIf="rec.receta.length > 0">
            <h5>
                {{rec.descripcion}}
            </h5>
        </div>
        <div class="row" *ngIf="rec.receta.length > 0">
            <div class="col m12 s12">
                <ng-container *ngFor="let sc of rec.receta">
                    <button mat-raised-button class="btnAccion" [color]="sc.seleccionado ? 'warn':'primary'" (click)="addProductoMulti(rec,sc)">
                        {{sc.descripcion}}
                    </button>
                </ng-container>
            </div>
        </div>
        <div class="row" *ngIf="rec.receta.length <= 0">
            <div class="col m12 s12">
                <button mat-raised-button class="btnAccion" [color]="rec.seleccionado ? 'warn':'primary'" (click)="addProducto(rec)">
                    {{rec.descripcion}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row text-right" align="right">
    <div class="col m12 s12">
        <button mat-raised-button class="btnAccion" color="accent" (click)="onDismiss()">
            Cancelar
        </button>
        <button mat-raised-button class="btnAccion" color="accent" (click)="onConfirm()">
            Aceptar
        </button>
    </div>
</div>
