<mat-card class="mat-elevation-z4 fullWidth">
    <mat-card-title>
        <h4>
            Cliente {{!!cliente.cliente ? cliente.nombre : ''}}
        </h4>
    </mat-card-title>
    <mat-card-content>
        <form #frmCliente="ngForm" (ngSubmit)="frmCliente.form.valid && onSubmit()" novalidate>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Nombre" name="nombre" [(ngModel)]="cliente.nombre" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="N.I.T." name="nit" [(ngModel)]="cliente.nit" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Dirección" name="direccion" [(ngModel)]="cliente.direccion">
                </mat-form-field>
            </div>            
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Teléfono" name="telefono" [(ngModel)]="cliente.telefono">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="E-mail" name="correo" [(ngModel)]="cliente.correo">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Código postal" name="codigo_postal" [(ngModel)]="cliente.codigo_postal">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Municipio" name="municipio" [(ngModel)]="cliente.municipio">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" placeholder="Departamento" name="departamento" [(ngModel)]="cliente.departamento">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="fullWidth">
                    <input matInput type="text" maxlength="2" placeholder="Pais ISO" name="pais_iso_dos" [(ngModel)]="cliente.pais_iso_dos">
                </mat-form-field>
            </div>
            <div class="btn-group d-flex justify-content-end" role="group">
                <button mat-icon-button type="submit" color="accent" [disabled]="!frmCliente.form.valid">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button type="button" color="accent" (click)="resetCliente()" *ngIf="cliente.cliente">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>